*.iml
.gradle/
/local.properties
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx

# Release / APK outputs
app/release/
*.apk
*.aab
*.ap_
*.dex

# Release artifacts
adbid_adx/release/*.zip
adbid_adx/release/*.dex
adbid_adx/release/*.md5
